html 
{
    background-color: #222;
    color: white;
    font-family: 'Courier New', Courier, monospace;   
}

body 
{ 
    margin: 0px; 
    size: auto;
    background-image: url( '../sources/images/blobanimation.svg' );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 400px;
}

object
{
    width: 100%;
}

.container 
{
    animation-name: bootup;
    animation-duration: 1s;
    transition: ease-in;
    height: 800px;
}

#LobbyTxt 
{
    border-style: dashed; 
    border-width: 5px; 
    width: 220px;
    padding: 5px;
    margin: 20px;
}

a { text-decoration: none; }

a input
{
    max-width: 500px;
    margin: 30px;
    padding: 20px;
    border-radius: 1vh;
    color: black;
    transition: ease-in-out 0.2s;
    font-size: 25px;
    width: 50%;
    border: none;
    background: white;
    color: black;
}

a input:hover
{
    background: black;
    transition: ease-in-out 0.2s;
    color: white;
    scale: 110%;
}

@keyframes bootup {
    from {scale: 50%; opacity: 0%;}
    to {scale: 100%; opacity: 100%;}
}