html 
{
    background-color: #222;
    color: white;
    font-family: 'Courier New', Courier, monospace;   
}

body 
{ 
    margin: 0px; 
    size: auto;
}

center 
{
    animation-name: bootup;
    animation-duration: 2.5s;
    transition: ease-in;
    margin: 20px;
}

ul 
{
    text-align: left;
}

object
{
    width: 100%;
}

.Bottomcurves 
{
    bottom: 0px;
    rotate: 180deg;
}

.container 
{
    transition: ease-in-out 0.3s;
    background-color: rgb(28, 28, 28);
    width: 50%;
    padding: 10px;
    border-radius: 1vh;
    margin: 10px;
}
.container:hover 
{
    transition: ease-in-out 0.3s;
    box-shadow: 0px 0px 10px 0px white, 0px 0px 20px 0px white;
}

.mirkas 
{
    transition: ease-in-out 0.3s;
    position: relative;
    border-style: double;
    border-width: 10px;
    border-radius: 50%;
    border-color: white;
}

.mirkas:hover 
{
    transition: ease-in-out 0.3s;
    box-shadow: 0px 0px 10px 0px white, 0px 0px 20px 0px white;
}

#rajz
{
    border-style: double;
    border-width: 10px;
    border-color: white;
}
  
#btn:before 
{
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
 }
  
#btn:hover:before 
{
    top: 0;
}
#btn
{
    font-family: 'Courier New', Courier, monospace;
    float: right;
    margin-right: 20px;
    padding: 5px;
    border-radius: 1vh;
    background-color: green;
    color: white;
    text-decoration: none;
}

@keyframes bootup {
    from {scale: 50%; opacity: 0%;}
    to {scale: 100%; opacity: 100%;}
}

@keyframes fillup {
    from {background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(125,246,19,1) 35%, rgba(127,209,1,1) 100%);}
    to {background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(125,246,19,1) 99%, rgba(127,209,1,1) 100%);;}
}