html 
{
    background-color: #fafafa;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body 
{ 
    margin: 0px; 
    size: auto;
}

center 
{
    animation-name: bootup;
    animation-duration: 2.5s;
    transition: ease-in;
    margin: 20px;
}

ul 
{
    text-align: left;
}

#selector
{
    background-color: #f3f3f3;
    height: 35px;
    text-align: center;
    padding-top: 10px;
}

.HubBtn
{
    text-decoration: underline dotted;
}

header
{
    padding-top: 10px;
    margin-bottom: 30px;
}

#bottomcurve
{
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#bottomcurve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 214px;
}

#bottomcurve .shape-fill {
    fill: #f1f1f1;
}

#selector .MenuBtn
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 30px;
    font-size: 20px;
    transition: ease-in-out 0.3s;
    text-decoration: none;
}

#selector .MenuBtn:hover
{
    transition: ease-in-out 0.3s;
    color: white;
    background-color: black;
    border-radius: 0.5em;
    text-decoration: underline solid;
}

.mcon 
{
    align-items: center;
    margin: 0 auto;
}

.img-con 
{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.card 
{
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.card img
{
    height: 500px;
    width: 350px;
    border-radius: 3px;
    transition: .5s;
}

.intro 
{
    height: 70px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 300px;
    background-color: rgb(22, 22, 22, 0.6);
    color: white;
    transition: .5s;
}

.card h1 
{
    margin: 10px;
    font-size: 40px;
}

.card p
{
    font-size: 15px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.card:hover
{
    cursor: pointer;
}

.card:hover .intro
{
    height: 230px;
    bottom: 300px;
    background: rgb(22, 22, 22, 0.7);
}

.card:hover p
{
    visibility: visible;
    opacity: 1;
}

.card:hover img
{
    scale: 110%;
    rotate: -3deg;
}

.juhtable, .juhtable th
{
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    background-color: #fafafa;
    margin: 0 auto;
    font-weight: bold;
    font-style: italic;
    width: 455px;
}

.juhtable td, .juhtable th
{
    padding: 10px;
}

.fr 
{
    color: rgb(0, 76, 218);
    font-weight: bold;
}

.sr 
{
    background-color: #dadada;
}

#rajz
{
    border-style: double;
    border-width: 10px;
    border-color: white;
    background-color: gray;
}

#colbtn 
{
    border-radius: 100%;
    border: none;
    width: 35px;
    height: 35px;
}

#down
{
    transition: ease-in-out 0.3s;
    background-color: lightcoral;
    color: wheat;
    border-radius: 1vh;
    border: none;
    width: 100px;
    height: 35px;
}

#down:hover
{
    transition: ease-in-out 0.3s;
    color: lightcoral;
    background-color: wheat;
    scale: 110%;
}

#hubbtn input
{
    margin: 20px;
    padding: 10px;
    border-radius: 1vh;
    color: black;
    transition: ease-in-out 0.2s;
    font-size: 20px;
    width: 200px;
    border: none;
    background: white;
    color: black;
}

#hubbtn input:hover
{
    background: black;
    transition: ease-in-out 0.2s;
    color: white;
    scale: 110%;
}
@keyframes bootup {
    from {scale: 50%; opacity: 0%;}
    to {scale: 100%; opacity: 100%;}
}